
.mainContainer {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;

  margin-top: 8px;

  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  /* border: 2px solid green; */
  max-width: 1072px;
  width: 100%;
  height: 176px;

  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  position: relative;
}

.communityPoster {
  /* border: 2px solid green; */
  width: 100%;
  height: 128px;
  
  overflow: hidden;
}

.communityPoster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 14px;
}

.headerContent {
  /* border: 2px solid red; */

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1;
}

.info {
  /* border: 2px solid black; */
  margin: 0px 0px 0px 20px;
  
  display: flex;
  align-items: center;
  gap: 8px;
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.communityAvatarframe {
  box-sizing: border-box;
  border: 4px solid white;
  border-radius: 999px;

  height: 88px;
  width: fit-content;
  aspect-ratio: 1;
}

.communityAvatar {
  border-radius: 50%;
  background:#ff5c00;
  aspect-ratio: 1;
  overflow: hidden;

  font-size:14px;
  font-weight:700;
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.communityAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.communityName {
  /* border: 1px solid red; */
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight:700;

  height: 86px;
  
  color:#1c1c1c;

  display: flex;
  align-items: flex-end;
}

.headerButtonGroup {
  /* border: 2px solid black; */
  
  display: flex;
  align-items: flex-end;
  
  gap: 6px;
  height: 82px;
}

.headerButtonGroup .button {
  border: 1px solid rgb(189, 189, 189);
  /* border: 1px solid black; */
  background: none;
  border-radius: 999px;
  height: 36px;
  padding: 0px 12px;
  line-height: 1;
  cursor: pointer;

  color: rgb(71, 71, 71);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;

  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.headerButtonGroup .filterButton {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 999px;
  background: none;

  height: 32px;
  aspect-ratio: 1;
  font-size: 16px;
  color: rgb(71, 71, 71);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* /////////////////////////////////////////////////////////////////////////// */

.community {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;

  display: flex;
  gap: 1.5rem;
  justify-content: center;

  overflow: hidden;
}

.postSection {
  /* border: 2px solid red; */
  max-width: 732px;
  width: 100%;
  min-width: 0;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
}

.postSectionButtonGroup {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  gap: 6px;
}

.postSectionButtonGroup .button {
  border: 1px solid rgb(189, 189, 189);
  /* border: 1px solid black; */
  background-color: rgb(223, 203, 203);
  border-radius: 999px;
  height: 36px;
  padding: 0px 12px;
  line-height: 1;
  cursor: pointer;

  color: rgb(71, 71, 71);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;

  display: none;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.postSectionButtonGroup .sortButton {
  /* border: 1px solid rgb(189, 189, 189); */
  border: none;
  /* border: 1px solid black; */
  background: none;
  border-radius: 999px;
  height: 32px;
  padding: 0px 12px;
  line-height: 1;
  cursor: pointer;

  color: rgb(71, 71, 71);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 700;

  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.postSectionButtonGroup .filterButton {
  /* border: 1px solid rgb(189, 189, 189); */
  border: none;
  border-radius: 999px;
  background: none;

  height: 32px;
  aspect-ratio: 1;
  font-size: 12px;
  color: rgb(71, 71, 71);

  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}


/* /////////////////////////////////////////////////////////////////////////////////// */

.widgetSection {
  /* border: 2px solid red; */
  border-radius: 8px;
  max-width: 306px;
  width: 100%;
  flex-shrink: 0;

  display: flex;
  flex-direction:column;

  overflow: hidden;

  /* overflow-y: scroll;
  scrollbar-width: thin; */
  /* scrollbar-color: transparent transparent; */
}

.headerButtonGroup .joinButton {
  border: none;
  border-radius: 999px;
  font-size: 13px;
  font-weight:600;
  color: #3c3c3c;
  background-color: #e5ebee;
  cursor:pointer;

  padding: 7px 16px;
}

.headerButtonGroup .joinButton:hover{
    background:#d9dfe2;
}
.headerButtonGroup .joinButton:active{
    background:#e5ebee;
}

.headerButtonGroup .joinedButton {
  border: none;
  border-radius: 999px;
  font-size: 13px;
  font-weight:600;
  color: #f1f1f1;
  background-color: #FF5C00;
  cursor:pointer;

  padding: 7px 16px;
}

.headerButtonGroup .joinedButton:hover{
    background:rgb(233, 85, 0);
}
.headerButtonGroup .joinedButton:active{
    background-color: #FF5C00;
}

@media (max-width: 959px) {

  .mainContainer {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;

    display: flex;
    gap: 16px;
  }

  .widgetSection {
    display: none;
  }

  .postSectionButtonGroup {
    /* border: 1px solid black; */
    justify-content: space-between;
  }

  .postSectionButtonGroup .gapButton{
    border: none;
    background: none;
    flex: 1;
  }

  .postSectionButtonGroup .button {
    display: flex;
  }
}

@media (max-width: 767px) {

  .header {
    /* border: 4px solid green; */
    height: auto;
  }

  .communityPoster {
    /* border: 2px solid green; */
    width: 100%;
    height: 64px;
    
    overflow: hidden;
  }

  .communityPoster img {
    border-radius: 0px;
  }

  .headerContent {
    /* border: 2px solid red; */
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    z-index: 0;
    
    position: relative;
  }

  .info {
    /* border: 2px solid black; */
    margin: 0px 0px 0px 0px;
  }

  .communityAvatarframe {
    border: 0px solid white;
    height: 40px;
  }

  .communityName {
    /* border: 1px solid red; */
    font-size: 1.125rem;
    line-height: 1.5rem;

    height: auto;
    
    color:#1c1c1c;
    text-decoration: none;
  }

  .headerButtonGroup {
    /* border: 2px solid black; */
    height: auto;
  }

  /* //////////////////////////////////////////////////////////// */

}