
.mainContainer {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;

  display: flex;
  gap: 1.5rem;
  justify-content: center;

  min-width: 0;
}

.profileContainer {
  /* border: 1px solid red; */
  max-width: 732px;
  width: 100%;
  min-width: 0; /* important */
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
}

.info {
  /* border: 2px solid black; */
  
  padding: 16px;
  
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.info .avatar {
  /* border: 1px solid black; */
  border-radius: 50%;
  background:#ff5c00;
  height: 64px;
  aspect-ratio: 1;
  overflow: hidden;

  font-size:14px;
  font-weight:700;
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info .infoName {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 2px;

  position: relative;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.info .profileName {
  /* border: 1px solid black; */
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight:700;
  
  color:#1c1c1c;
  text-decoration: none;
}
.info .userName {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color:#5c5c5c;
  text-decoration: none;
}

.tabGroup {
  /* border: 1px solid black; */
  min-width: 0;
  position: relative;
}

.tabs {
  /* border: 1px solid black; */
  margin: 10px 0;

  display: flex;
  align-items: center;
  gap: 12px;

  min-width: 0;

  overflow-x: auto;
  overflow-y: auto;

  scrollbar-width: thin;

  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;

  padding: 0 4px;

  /* mask-image: linear-gradient(
    to right,
    transparent,
    black 12px,
    black calc(100% - 12px),
    transparent
  ); */
}

/* .scrollIndicatorLeft {
  border: 2px solid red;
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 30px;
  font-size: 24px;

  display: flex;
  align-items: center;
  
  position: absolute;
  left: 0px;
  z-index: 1;  
}

.scrollIndicatorRight {
  border: 2px solid red;
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 30px;
  font-size: 24px;

  display: flex;
  align-items: center;
  
  position: absolute;
  right: 0px;
  z-index: 1; 
} */

.tab {
  border: none;
  /* border: 1px solid black; */
  background: none;
  border-radius: 999px;
  height: 40px;
  padding: 0px 12px;
  line-height: 1;
  cursor: pointer;

  color: rgb(71, 71, 71);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab:hover{
  color: black;
}

.tab:active{
  background: rgb(230, 242, 247);
}

.buttonGroup {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  gap: 12px;
}

.createButton {
  border: 1px solid rgb(189, 189, 189);
  /* border: 1px solid black; */
  background: none;
  border-radius: 999px;
  height: 32px;
  padding: 0px 12px;
  line-height: 1;
  cursor: pointer;

  color: rgb(71, 71, 71);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;

  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}
.createButton .plusIcon {
  font-size: 16px;
}

.filterButton {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 999px;
  background: none;

  height: 32px;
  aspect-ratio: 1;
  font-size: 16px;
  color: rgb(71, 71, 71);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* /////////////////////////////////////////////////////////////////////////////////// */

.widgetSection {
  border: 2px solid black;
  max-width: 316px;
  width: 100%;
  flex-shrink: 0;
  height: 100%;

  margin-top: 16px;

  overflow-y: scroll;
  scrollbar-width: thin;
}

.widget {
  background-color: pink;
  border-radius: 16px;
  width: 100%;
  height: fit-content;
}

@media (max-width: 767px) {

  /* .feedSection {
    max-width: 900px;
    width: 100%;
  } */

  .widgetSection {
    display: none;
  }
}