.mainContainer {
  border-radius: 16px;
  width: 100%;
  height: 100%;

  overflow: hidden;
  background-color: rgb(180, 113, 113);

  display: flex;
  flex-direction: column;
}

.poster {
  width: 100%;
  height: 97px;
  flex-shrink: 0;
}

.profileWidget {
  border: 1px solid red;

  width: 100%;
  flex: 1;
  min-height: 0;

  padding: 10px;
  padding-right: 2px;
  margin-bottom: 10px;

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}


/* Show the thumb when mainContainer is hovered */
.mainContainer:hover .profileWidget {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  border: 1px solid rgb(236, 236, 236);
  padding: 6px;
  color: white;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.tabGroup{
  /* border: 1px solid white; */
  border-radius: 12px;
  padding: 6px;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.tab {
  /* border: 1px solid white; */
  flex: 1;
  min-width: 40%;
  
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.tab span:last-child {
  font-size: 12px;
}

.ownedCommunities, .joinedCommunities {
  border: 1px solid white;
  border-radius: 10px;
  padding: 6px;
  max-height: 300px;

  color: rgb(204, 204, 204);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;

  display: flex;
  flex-direction: column;

}
.communityList {
  border: 1px solid black;
  width: 100%;
  flex: 1;
  /* max-height: 400px; */

  overflow: scroll;
  scrollbar-width: none;
}

.ownedCommunities .heading,
.joinedCommunities .heading 
{
  margin-bottom: 16px;
}

.ownedCommunities:hover, 
.joinedCommunities:hover {
  background: darkgray;
}

.horizontalRule {
  margin: 8px 6px;
}