:root {
  --background-color: #0E1113;
  --selectedTab-color: #2A3236;
  --hoverTab-color: #181C1F;
  --font-color: #D9E0E0; 
  /* #DBE4E9 */
  --hoverTabFont-color: #FFFFFF;
  --scrollbar-color: #3E4142;
  --border-color: #26292B;

  --searchbar-color: #2A3236;
  --iconHover-color: #333D42;
  --profileButtonWrapper-color: #333D42;

  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color);
}

.navbar {
  /* border: 1px solid red; */
  position: relative;
  flex: 1;
  min-width: 0;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarToggle {
  /* border: 1px solid black; */
  border-radius: 999px;
  font-size: 24px;
  margin-left: 10px;
  color: var(--font-color);
  
  width: 40px;
  aspect-ratio: 1;
  display: none;
  justify-content: center;
  align-items: center;
}
 
.sidebarToggle svg {
  display: block;
  transform: scalex(0.8);
  transform-origin: center;
}

.sidebarToggle:hover {
  background-color: var(--iconHover-color);
}
.sidebarToggle:active {
  background-color: #515A5E;
}

.brand {
  /* border: 1px solid black; */
  margin-left: 20px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  height: 25px;
  width: auto;
  display: block;
  position: relative;
  top: 3px;

  filter: brightness(0) invert(1);
}

.searchbarContainer {
  /* border: 1px solid #FF5C00; */
  flex: 1;
  min-width: 0;
  margin: auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
.searchbar {
  border: 1px solid #dc5101 ;
  border-radius: 999px;
  height: 40px;
  width: 100%;
  max-width: 600px;
  min-width: 0;

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 16px 5px 8px;
  box-shadow: 0 0 6px rgba(255, 115, 2, 0.6);
}
.searchbar:hover{
  background-color: var(--searchbar-color);
}
.searchbarLogo {
  /* border: 1px solid red; */
  border-radius: 999px;
  height: 24px;
  aspect-ratio: 1;

  overflow: hidden;
}
.searchbarLogo img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  object-fit: cover;
}
.searchbar input {
  /* border: 1px solid blue; */
  border: none;
  font-size: 14px;
  flex: 1;
  min-width: 0;
  height: 100%;
  font-family: var(--font-family);
  color: var(--font-color);
  background: transparent;
}
.searchbar input:focus {
  outline: none;
}

/* =============================== Logged Out Button Group ============================== */

.loggedOutbuttonGroup {
  /* border: 1px solid rgb(238, 37, 71); */
  margin-right: 10px;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 10px;
}

.authButton {
  border: none;
  border-radius: 999px;
  height: 42px;
  width: 70px;
  font-family: var(--font-family);
  font-weight: 500;
}

.signupButton {
  background-color:#2A3236;
  color: white;
  width: 74px;
}
.signupButton:hover {
  background-color: #333D42;
}
.signupButton:active {
  background-color: #515A5E;
}

.loginButton {
  background-color: #FF5C00;
  color: white;
}
.loginButton:hover {
  background-color: #ed5801;
}

.moreButton {
  /* border: 1px solid black; */
  border-radius: 999px;
  width: 40px;
  aspect-ratio: 1;

  font-size: 20px;
  color: var(--font-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.moreButton:hover {
  background-color: var(--iconHover-color);
}
.moreButton:active {
  background-color: #515A5E;
}

.buttonMenu {
  position: absolute;

  top: 80%;
  right: 0;
  z-index: 99;

  background: #181C1F;
  border-radius: 8px;

  min-width: 256px;

  box-shadow: 0 8px 20px rgba(0,0,0,.30);
}

.buttonMenu ul{
  /* border: 2px solid #e92222; */
  margin: 8px 0px;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonMenu li{
  /* border: 1px solid #ddd; */
  padding: 14px 14px 14px 24px;
  font-size: 14px;
  font-weight: 400;

  cursor: pointer;
}

.buttonMenu li:active {
  background-color: #3A3E40;
}

.buttonMenu .dropdownLink {
  /* border: 1px solid blue; */
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--font-color);
  text-decoration: none;

  font-size: 14px;
  font-weight: 400;
}

.buttonMenu li:hover .dropdownLink{
  color: var(--hoverTabFont-color);
}

.buttonMenu .dropdownIcon {
  font-size: 18px;
}

/* =============================== Logged In Button Group ============================== */

.loggedInbuttonGroup {
  /* border: 1px solid rgb(238, 37, 71); */
  margin-right: 10px;
  height: 100%;

  display: flex;
  align-items: center;
}

.notificationButton {
  /* border: 1px solid blue; */
  border-radius: 999px;

  height: 40px;
  aspect-ratio: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--font-color);
  font-size: 18px;
  font-family: var(--font-family);
  text-decoration: none;
  
  cursor: pointer;
}

.notificationButton:hover {
  background-color: var(--iconHover-color);
}
.notificationButton:active {
  background-color: #515A5E;
}

.createButton{
  /* border: 1px solid blue; */
  border-radius:999px;

  height: 40px;
  aspect-ratio: 1;
  padding: 12px;

  display:flex;
  gap: 8px;
  align-items:center;
  justify-content:center;

  color: var(--font-color);
  font-size: 14px;
  font-family:var(--font-family);
  font-weight: 500;
  text-decoration: none;

  cursor:pointer;
}

.createButtonIcon {
  /* border: 1px solid blue; */
  font-size: 18px;
}

.createButton:hover {
  background-color: var(--iconHover-color);
}
.createButton:active {
  background-color: #515A5E;
}


.profileMenuArea {
  /* border: 1px solid black; */
  height: 100%;
  
  display: flex;
  align-items: center;
}

.profileButtonWrapper {
  /* border: none; */
  background: none;
  border-radius: 999px;
  padding: 4px;

  margin-left: 8px;
  cursor: pointer;

  position: relative;
}
.greenIcon{
  position: absolute;
  z-index: 1;
  left: 6px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #01A816;
  border: 1px solid #333D42;
  width: 8px;
  aspect-ratio: 1;
}

.profileButton {
  border: none;
  border-radius: 999px;
  background: none;
  
  height: 32px;
  aspect-ratio: 1;

  font-family: var(--font-family);
  
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileButtonWrapper:hover {
  background-color: var(--profileButtonWrapper-color);
}
.profileButtonWrapper:active {
  background-color: #515A5E;
}

.profileButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* =============================== Media Queries ============================== */

@media (max-width: 1199px) {
  .sidebarToggle {
    display: flex;
  }

  .brand {
    margin-left: 10px;
  }

  .signupButton {
    display: none;
  }
}

@media (max-width: 959px) {
  .brand {
    display: none;
  }
}


