:global(html) {
  overflow-y: scroll;
  scrollbar-color: #9f9f9f #2c2c2c;
}

*{
  box-sizing: border-box;
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbarContainer {
  /* background-color: yellow; */
  border-bottom: 1px solid #2E3132;
  height: 58px;
  flex-shrink: 0;

  position: sticky;
  top: 0;
  z-index: 1100;
  
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.884);
}

.mainContainer {
  /* border: 4px solid rgb(48, 235, 11); */
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  background-color: #0E1113;
}

.sidebarContainer {
  /* border: 4px solid blue; */
  position: sticky;
  top: 58px;
  height: calc(100vh - 58px);
  flex-shrink: 0;
}

.backdrop {
  position: fixed;
  top: 58px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 58px);
  background: rgba(0,0,0,.35);
  z-index:999;
}

.outletContainer {
  /* border: 4px solid rgb(231, 102, 16); */
  flex: 1;
  width: 100%;
  min-width: 0;
  min-height: 0;

  margin: 0 16px;

  display: flex;
  justify-content: center;
}

@media (max-width:1199px){

    .sidebarContainer{

        box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.3);
        position: fixed;

        top:58px;
        bottom: 0;

        left:-280px;

        z-index:1000;

        transition:left .25s ease;
    }

    .sidebarOpen{

        left:0;
    }

}

@media (max-width: 767px){
  .outletContainer{
    margin: 0;
  }
}